

<footer class="bg-[--primary]">

  <div class="w-[80%] flex flex-col justify-center items-center md:w-full mx-auto pt-[48px]  md:pb-[49px] md:pt-[80px] max-w-screen-xl p-4  md:flex-row md:items-center md:justify-between Footer__border">

    <div class="flex flex-col justify-center items-center mb-[2rem] md:block">
      <span class="text-sm text-white pb-[10px] font-[Pacifico] border-b-2 border-r-0 md:border-b-0 md:pb-0  text-[24px] sm:text-center md:border-r-[1px]  md:pr-[1rem]">Elegant</span>
      <span class="text-sm text-white pt-[10px] md:pt-0 font-bold text-[24px] sm:text-center pl-[1rem]">Gift & Decoration Store</span>
    </div>


    <ul class="flex flex-wrap items-center flex-col justify-center md:flex-row mt-3 text-sm font-bold text-[24px] text-white sm:mt-0">
      <li class="mb-5 md:mb-0">
        <a routerLink="/home" class="  me-4 md:me-6">Home</a>
      </li>
      <li class="mb-5 md:mb-0">
        <a routerLink="/shop" class=" me-4 md:me-6">Shop</a>
      </li>
      <li class="mb-5 md:mb-0">
        <a routerLink="/products" class=" me-4 md:me-6">Product</a>
      </li>
      <li class="mb-5 md:mb-0">
        <a routerLink="/contact-us" class="">Contact Us</a>
      </li>
    </ul>
  </div>

  <div class=" flex flex-col-reverse justify-center items-center  w-[80%] pt-5 md:pt-0  md:w-full mx-auto pb-[48px] md:pb-[32px] md:mt-[1rem]  max-w-screen-xl md:flex-row md:items-center md:justify-between">

    <div class="flex flex-col-reverse justify-center items-center  md:mb-[2rem] md:flex md:flex-row">

      <span class="text-sm text-white font-light text-[24px] mt-5 md:mt-0 sm:text-center  pr-[1rem]">Copyright © 2023 3legant. All rights reserved</span>

      <div class="flex  justify-center items-center mt-5 md:mt-0 md:block">
        <span class="text-sm text-white font-bold text-[24px] sm:text-center pl-[1rem]">Privacy Policy</span>
        <span class="text-sm text-white font-bold text-[24px] sm:text-center pl-[1rem]">Terms of Use</span>
      </div>

    </div>



    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium mb-5 md:mb-0  sm:mt-0">
      <li>
        <img src="instagram.svg" class="me-4">
      </li>
      <li>
        <img src="Vector%202998.svg" class="me-4">
      </li>
      <li>
        <img src="youtube.svg">
      </li>
    </ul>
  </div>

</footer>
