
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-black rounded-lg sm:hidde ">
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
  <span class="ms-2 font-bold text-[24px] text-black ">3legant</span>
</button>

<aside id="default-sidebar" class=" w-[80%] fixed  z-40     transition-transform -translate-x-full sm:translate-x-0  lg:w-[100%] " aria-label="Sidebar">

  <div class=" h-[100vh] items-baseline flex flex-col  px-3 py-4 overflow-hidden bg-white lg:w-[100%] sm:h-[100%] md:flex md:flex-row flex-1 flex-wrap justify-between" aria-labelledby="drawer-navigation-label">

    @if (!this.screenSize){
      <span class="ms-2 font-bold text-[24px] text-black ">3legant.</span>
    }

    <ul class=" flex flex-col items-baseline   font-medium overflow-hidden md:flex md:flex-row justify-between md:items-center ">

      @if (this.screenSize){
        <span class="ms-2 font-bold text-[24px] text-black pb-4 ">3legant.</span>
      }

      <li class="me-5 pb-4 md:pb-0">
        <a>Home</a>
      </li>

      <li class="me-5 pb-4 md:pb-0">
        <a>Shop</a>
      </li>

      <li class="me-5 pb-4 md:pb-0">
        <a>Product</a>
      </li>

      <li class="pb-4 md:pb-0">
        <a>Contact Us</a>
      </li>
    </ul>


    @if (screenSize){

      <ul class=" flex flex-col justify-between w-[100%] ">
        <li class="me-5 border-b-[2px]">
          <a  class="flex items-center p-2  rounded-lg    group">
            <span class="flex-1 ms-3 whitespace-nowrap">Cart</span>
            <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium "><i class="fa-solid fa-cart-shopping"></i></span>
          </a>
        </li>

        <li class="me-5 border-b-[2px]">
          <a  class="flex items-center p-2  rounded-lg    group">
            <span class="flex-1 ms-3 whitespace-nowrap">Cart</span>
            <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium "><i class="fa fa-regular fa-heart"></i></span>
          </a>
        </li>

        <button class="btn">
          Sign In
        </button>
      </ul>




    } @else {
      <ul class=" flex justify-between items-center ">

        <li class="me-5">
          <a>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5588 18.5488C16.5654 15.8918 14.0036 14 11 14C7.99638 14 5.4346 15.8918 4.44117 18.5488M17.5588 18.5488C19.6672 16.7154 21 14.0134 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 14.0134 2.33285 16.7154 4.44117 18.5488M17.5588 18.5488C15.8031 20.0756 13.5095 21 11 21C8.49052 21 6.19694 20.0756 4.44117 18.5488M14 8C14 9.65685 12.6569 11 11 11C9.34315 11 8 9.65685 8 8C8 6.34315 9.34315 5 11 5C12.6569 5 14 6.34315 14 8Z" stroke="#141718" stroke-width="1.5" stroke-linejoin="round"/>
            </svg>
          </a>
        </li>

        <li class="me-5">
          <a>
            <i class="fa fa-regular fa-heart"></i>
          </a>
        </li>

        <li class="me-5">
          <a>
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </li>


      </ul>
    }


  </div>
</aside>





