
<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-black rounded-lg sm:hidde ">
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
  <span class="ms-2 font-bold text-[24px] text-black ">3legant</span>
</button>

<aside id="default-sidebar" class=" w-[80%] fixed z-40 transition-transform -translate-x-full md:translate-x-0 md:w-[100%] lg:w-[100%] " aria-label="Sidebar">

  <div class="h-[100vh] items-baseline flex flex-col  px-3 py-4 overflow-hidden bg-white lg:w-[100%] sm:h-[100vh] md:h-[100%] md:flex md:flex-row flex-1 flex-wrap justify-between" aria-labelledby="drawer-navigation-label">

    @if (!this.screenSize){
      <span class="ms-2 font-bold text-[24px] text-black ">3legant.</span>
    }

    <ul class=" flex flex-col items-baseline   font-medium overflow-hidden md:flex md:flex-row justify-between md:items-center ">

      @if (this.screenSize){
        <span class="ms-2 font-bold text-[24px] text-black pb-4 ">3legant.</span>
      }

      <li class="me-5 pb-4 md:pb-0">
        <a>Home</a>
      </li>

      <li class="me-5 pb-4 md:pb-0">
        <a>Shop</a>
      </li>

      <li class="me-5 pb-4 md:pb-0">
        <a>Product</a>
      </li>

      <li class="pb-4 md:pb-0">
        <a>Contact Us</a>
      </li>
    </ul>


    @if (screenSize){

      <ul class=" flex flex-col justify-between w-[100%] ">
        <li class="me-5 border-b-[2px]">
          <a  class="flex items-center p-2  rounded-lg    group">
            <span class="flex-1 ms-3 whitespace-nowrap">Cart</span>
            <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium "><i class="fa-solid fa-cart-shopping"></i></span>
          </a>
        </li>

        <li class="me-5 border-b-[2px]">
          <a  class="flex items-center p-2  rounded-lg    group">
            <span class="flex-1 ms-3 whitespace-nowrap">Cart</span>
            <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium "><i class="fa fa-regular fa-heart"></i></span>
          </a>
        </li>

        <button class="btn">
          Sign In
        </button>
      </ul>




    } @else {
      <ul class=" flex justify-between items-center ">

        <li class="me-5">
          <a>
            <img src="Vector.svg">
          </a>
        </li>

        <li class="me-5">
          <a>
            <img src="Shape.svg">
          </a>
        </li>

        <li class="me-5">
          <a>
            <img src="shopping%20bag.svg">
          </a>
        </li>


      </ul>
    }


  </div>
</aside>





