

<div class="flex flex-wrap flex-col justify-center items-center text-center gap-5 my-10  md:flex-row lg:flex-row">
  @for (card of cards; track card.icon) {
    <div class="Card bg-[#F3F5F7] p-8 h-[200px]" [ngStyle]="{ 'width': cardWidth } ">
      <div class="w-[100%] mx-auto">
          <div class="Card__icon flex  py-2 " [class]="indicator ? 'justify-center' : 'md:justify-start justify-center'" >
            <img [src]="card.icon" alt="Card Icon" class="pb-2" [class]="indicator ? '' : 'w-[15%] md:w-[17%] ' " />
          </div>
        <div [class]="indicator ? 'text-center' : 'md:text-left text-center'">
          <h2 class="text-[16px] font-[Inter] font-bold  pb-2" [class]="indicator ? 'text-[--secondary-p]' : 'text-[black]' ">
            {{ card.title }}
          </h2>
          <p class="text-[16px] font-[Inter] font-bold" [class]="indicator ? ' text-[black]' : 'text-[--secondary-p]' ">
            {{ card.paragraph }}
          </p>
        </div>
      </div>
    </div>
  }
</div>



