/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary: rgba(20, 23, 24, 1);
  --secondary: rgba(56, 203, 137, 1);
  --secondary-p: rgba(108, 114, 117, 1);
}

.btn {
  @apply py-2 px-5 font-semibold rounded-full ;
}


